<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>
<body>
    <h1>Comments</h1>
    <ul>
        <% for(let c of comments){ %>
            <% if(c.comment !== '' && c.username !== '') { %>
                <li><a href='/comments/<%= c.id %>' style = "color: black; text-decoration: none"><%= c.comment%> -<b><%= c.username %></b></a></li>
            <% }%>   
        <% } %>    
    </ul>
    
    <button><a href="/comments/new">Comment</a> </button>
    
    
</body>
</html>